<!--//-->
<div class='container border-1px'>

   <app-header
      [objCurrencies2]='objCurrencies1'
      [isLoading]='isLoading'
      [errorMessage]='errorMessage'
      [dateOfReceive]='dateOfReceive'
   ></app-header>

   <app-converter
      [objCurrencies3]='objCurrencies1'
      [isLoading]='isLoading'
   ></app-converter>

   <div class='created-by'>
      Currency Converter Angular ©2022 Created by

      <a
         href='https://maxim-saharov.com.ua'
         target='_blank' rel='noopener noreferrer'
         class='pad-left-10px'
      >
         Maxim Saharov
      </a>

      <span class='pad-left-10px'>|</span>

      <a
         href='https://github.com/maxim-saharov/currency-converter-angular-s'
         target='_blank' rel='noopener noreferrer'
         class='pad-left-10px'
      >
         GitHub
      </a>

   </div>

</div>





